{% extends "base.html" %}

{% block title %}{{user.get_full_name}} | Blood Camp{% endblock %}

{% block content %}
	<h1>{{user.get_full_name}}</h1>
	<div {% if user.profile.status == 'Donor' %}class="card border border-success"{% else %}class="card border border-danger"{% endif %} style="margin-top: 20px;">
		<div class="card-body">
		<p><strong>About: </strong>{{user.get_full_name}} is a {{user.profile.status}} with blood group {{user.profile.blood_group}}. </p>
	
		<h3>Contact</h3>
		{% if user.profile.status == 'Donor' %}
			<p><strong>Need help from {{user.get_full_name}}?</strong></p>
			
		{% else %}
			<p><strong>Want to help {{user.get_full_name}}?</strong></p>
		{% endif %}
		
		<p><strong>Hospital:</strong> {{user.profile.hospital}}<br>
		<strong>Hospital Address:</strong> {{user.profile.address}}</p>

		{% if flag == 1 %}
			<p><strong>Your request is accepted.</strong></p>
			<p><a href="mailto:{{user.email}}" target="_blank" class="btn btn-success">Send a mail to {{user.get_full_name}}</a></p>
		{% elif flag == 2 %}
			<p>Your request is awaiting confirmation.</p>	
		{% else %}
			<p>	
			<button href="{% url "friend_request" user.username %}" onclick="window.location='{% url "friend_request" user.username %}';" class="btn" style="background-color: #e3f2fd">Request Contact Information</button>
			</p>
		{% endif %}
		</div>
	</div>
	<!-- {% for friend in friends %}
		{% if friend.user_from == user.get_id %}
		<p>Your request is accepted</p>
		{% endif %}
	{% endfor %} -->
	
{% endblock %}