{% extends "base.html" %}
{% load friendshiptags %}
{% block title %}Confirmed Requests | Blood Camp{% endblock %}

{% block content %}


	<h1>Confirmed Requests</h1>
	<div class="row">
	  	{% for friend in friends %}
		  <div class="col-sm-6">
			<div class="card">
		      <div class="card-body">
		        <h5 class="card-title"><a href="{{friend.get_absolute_url}}">{{friend.username}}</a></h5>
		        <p class="card-text"><p>{{friend.profile.status}}<br>{{friend.profile.blood_group}}</p></p>
		        <a href="{{friend.get_absolute_url}}" class="btn" style="background-color: #e3f2fd">User Profile</a>
		      </div>
		    </div>
		  </div>
	    {% endfor %}
  	</div>
{% endblock %}