{% extends "base.html" %}
{% load friendshiptags %}
{% block title %}Confirmed{% endblock %}

{% block content %}


	<h1>Confirmed Requests</h1>
	<div class="row">
		{% friends request.user %}
	  	<!-- {% for friend in friends %}
		  <div class="col-sm-6">
			<div class="card">
		      <div class="card-body">
		        <h5 class="card-title"><a href="{{friend.from_user.get_absolute_url}}">asa</a></h5>
		        <p class="card-text"><p>{{user.profile.status}}<br>{{user.profile.blood_group}}</p></p>
		        <a href="{{user.get_absolute_url}}" class="btn btn-primary">User Profile</a>
		      </div>
		    </div>
		  </div>
	    {% endfor %} -->
  	</div>
{% endblock %}